body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.reposition-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border: 5px greenyellow dashed;
}

.non-moveable{
  position: absolute;
}

.moveable {
  position: absolute;
  top: 0px;
  left: 0px;

  cursor: grab;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  /* background-color: aqua; */
}

.click-through{
  pointer-events: none;
}

.none{
  display: none;
}

.controls{
  width: 100%;
  display: flex;
  justify-self: start;

  gap: 20px;
}